body{
background-color: white;
}

#lupa {
    color: black;

}

.icono { 
    width: 30px;
    height: 30px;
}

.icono1 {
    width: 50px;
    height: 50px;
}

.tex {
    text-size-adjust: 40px;
}



header ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

header ul li {
    margin: 10px;
}

main {
    display: flex;
    flex: 1;
    margin-top: 6px;
    flex-direction: column-reverse;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
}

#body {
    flex-shrink: 0;
    box-sizing: border-box;
}

#navegador {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 148px;
    width: auto;
    max-width: 324px;
}

#navegador input{
    width: 450px;
    margin: 8px;
    border: none;
    outline: none;
}

footer {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
    align-items: center;
}

footer ul li {
    margin: 18px;
}

#opciones {
    display: flex;
}

.lista-horizontal {
  display: flex;
  justify-content: flex-end; /* Alinea la lista horizontal al final del contenedor */
  background-color: rgb(255, 255, 255);
  list-style-type: none;  }

.list {
  /* Estilos de la lista */
  list-style-type: none;
  
  display: flex;
  align-items: center;
  justify-content: end; /* Alinea la lista al final del contenedor */
}

.list li {
  /* Estilos de los elementos de la lista */
  margin: 0 10px;
  margin: 0;
  padding: 0; /* Espacio entre elementos, ajusta según desees */
}